.logo {
    width: 50px;
}

.capabanshee{
object-fit: cover;
}

.bg1{
    background: #B9B9B9;
}

.bg2 {
    background: #5A5A5A;
}

.bg3 {
    background: #DFDFDF;
}

.bg4 {
    background: #282828;
}

html, body{
    overflow-x: hidden;
} 
